body {
  background-color: #D2F898;
  font-size: 40px;
}
h1{
   color: #2F2F2F;
  text-align: center;
  letter-spacing: 5px;
  font-family: "Lucida Console", "Courier New", monospace;
}
h2{
  color: #2F2F2F;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Lucida Console", "Courier New", monospace;
}
h4{
    color: #828E82;
  text-align: center;
   font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  }
h5{
  color: black;
  font-family: Times New Roman, Helvetica, sans-serif;
  }
}
img:hover {
  border: dashed 10px black;
}
table{
  font-family: arial, sans-serif;
  font-size: 50px;
  width: 800px;
  height: 50px;
  border-collapse: collapse;
}
td {
  text-align: center;
  padding: 6px; 
  color: white;
  border: 4px dashed #2F2F2F;
  background-color: #828E82;
}
a {
  color: #2F2F2F;
}
a:hover {
  color: white;
  text-align: center;
}
iframe{
  width: 400px;
  height: 620px;
  border: 10px;
}
li{
  text-align: left;
}
